.mt-1 {
  margin-top: 0.25rem;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.m-0 {
  margin: 0!important;
}

.mr-1 {
  margin-right: 0.25rem;
}

.text-right {
  text-align: right;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-6 {
  width: 50%;
}

.pt-1 {
  padding-top: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}
